@import url(https://fonts.googleapis.com/css?family=Poppins);
html,
body {
    background-size: cover;
    color: #444;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}


/*********************************
 *                               *
 * Media Query Area              *
 *                               *
 *********************************/

@media (min-width:768px) {
    h1 {
        font-size: 68px;
    }

}

@media (min-width:768px) {
    .v-center {
        display: table;
        height: 90%;
        width: 100%;
        vertical-align: middle;
    }
}

@media (max-width:500px) {
    .scalefooter {
        font-size: 8px;
    }

}

@media (min-width:501px) {
    .scalefooter {
        font-size: 10px;
    }

}



/*********************************
 *                               *
 * ELEMENT Area                  *
 *                               *
 *********************************/

a {
    color: #737373;
}

a:visited {
    color: #737373;
}

a:hover {
    text-decoration: none;
}

a.btn-black:hover {
    color: #5491bd;
}

a.btn-black:visited {
    color: #fff;
}

img {
    height: auto;
    max-width: 100%;
}

section {
    padding-bottom: 50px;
    padding-top: 60px;
    min-height: 100%;
    min-height: calc(100% - 0);
    text-decoration: none;
    transform-style: preserve-3d;
}

footer {
    background-color: #2b2b2b;
    border-top: 2px solid #fff !important;
    color: #fff;
    height: 50px;
    min-height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

footer a:link,
footer a:hover,
footer a:active,
footer a:visited {
    color: #fff;
}


/*********************************
 *                               *
 * ID Area                       *
 *                               *
 *********************************/

#footerfont {
    font-size: 65%;
    text-align: center;
    text-decoration: none;
}

#footerfont a:hover {
    text-decoration: none;
}


/*
 * Welcome Page
 */

#welcome {
    background:rgba(84,145,189, 0.8);
    color: #111111;
}

/*
 * New Questions
 */

#new {
    background:rgba(84,145,189, 0.8);
    color: #111111;

}

#new a:link,
#new a:visited,
#new a:active {
    color: #000;
}

#new a:hover {
    color: #337ab7;
}


/*
 * Popular Questions
 */

#popular {
    background:rgba(84,145,189, 0.8);
    color: #ffffff;
}

#popular a:link,
#popular a:visited,
#popular a:active {
    color: #ffffff;
}

#popular a:hover {
    color: #000;
}


/*
 * Unanswered Questions
 */

#unanswered {
    background:rgba(84,145,189, 0.8);
    color: #111111;
}

#unanswered a:link,
#unanswered a:visited,
#unanswered a:active {
    color: #000;
}

#unanswered a:hover {
    color: #337ab7;
}


/*
 * Question Overview
 */

#overview {
    background:rgba(84,145,189, 0.8);
    color: #fff;
}

#overview a:link,
#overview a:visited,
#overview a:active {
    color: #fff;
}

#overview a:hover {
    color: #111;
}


/*
 * Profile
 */

#profile {
    background:rgba(255,255,255, 0.8);
    color: #111111;
}

#profile a:link,
#profile a:visited,
#profile a:active {
    color: red;
}

#profile a:hover {
    color: #337ab7;
}


/*
 * Login
 */

#login {
    background:rgba(255,255,255, 0.8);
}

#login a:link,
#login a:visited,
#login a:active {
    color: #111;
}

#login a:hover {
    color: #337ab7;
}

/*
 * Registration
 */


#registration {
    background:rgba(255,255,255, 0.8);
}


#registration a:link,
#registration a:visited,
#registration a:active {
    color: #111;
}

#registration a:hover {
    color: #337ab7;
}


/*
 * Passwort Reset
 */

#reset {
    background:rgba(255,255,255, 0.8);
}


#reset a:link,
#reset a:visited,
#reset a:active {
    color: #111;
}

#reset a:hover {
    color: #337ab7;
}

/*
 * Email Reset
 */

#email {
    background:rgba(255,255,255, 0.8);
}


#email a:link,
#email a:visited,
#email a:active {
    color: #111;
}

#email a:hover {
    color: #337ab7;
}

/*
 * Imprint
 */

#imprint {
    background:rgba(255,255,255, 0.8);
    color: #111111;
}


#imprint a:link,
#imprint a:visited,
#imprint a:active {
    color: #111;
}

#imprint a:hover {
    color: #337ab7;
}

/*
 * Privacy Policy
 */

#privacypolicy {
    background:rgba(255,255,255, 0.8);
    color: #111111;
}


#privacypolicy a:link,
#privacypolicy a:visited,
#privacypolicy a:active {
    color: #111;
}

#privacypolicy a:hover {
    color: #337ab7;
}

/*
 * Legal Notice
 */

#legalnotice {
    background:rgba(255,255,255, 0.8);
    color: #111111;
}


#legalnotice a:link,
#legalnotice a:visited,
#legalnotice a:active {
    color: #000;
}

#legalnotice a:hover {
    color: #337ab7;
}

/*
 * Question
 */

#question {
    background:rgba(84,145,189, 0.8);
    color: #111111;
}


#question a:link,
#question a:visited,
#question a:active {
    color: #ffffff;
}

#question a:hover {
    color: #337ab7;
}

/*
 * Search
 */

#search {
    background:rgba(84,145,189, 0.8);
    color: #111111;
}


#search a:link,
#search a:visited,
#search a:active {
    color: #ffffff;
}

#search a:hover {
    color: #337ab7;
}

/*
 * Ask
 */

#ask {
    background:rgba(84,145,189, 0.8);
    color: #111111;
}


#ask a:link,
#ask a:visited,
#ask a:active {
    color: #ffffff;
}

#ask a:hover {
    color: #337ab7;
}

/*
 * Feedback
 */

#feedback {
    background:rgba(255,255,255, 0.8);
    color: #111111;
}


#feedback a:link,
#feedback a:visited,
#feedback a:active {
    color: #000;
}

#feedback a:hover {
    color: #337ab7;
}

/*********************************
 *                               *
 * CLASS Area                    *
 *                               *
 *********************************/

.btn,
.well,
.panel {
    border-radius: 0;
}

.btn-black -> a:hover {
    color: #fff;
}

.btn-black {
    background-color: #111;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
}

.btn-huge {
    font-size: 22px;
    padding: 17px 22px;
}

.btn-primary {
    background-color: #5491bd !important;
}

.errorText {
    color: red;
    font-size: 10px;
    float: right;
}

.fieldred {
    background-color: lightcoral;
}

.fieldgreen {
    background-color: lightgreen;
}

.icon-bar {
    background-color: #fff;
}

.margintop5 {
    margin-top: 5px;
}

.margintop10 {
    margin-top: 10px;
}

.margintop15 {
    margin-top: 15px;
}

.margintop20 {
    margin-top: 20px;
}

.margquestion {
    margin-bottom: 50px;
}

.marginbottom5 {
    margin-bottom: 5px;
}

.marginbottom10 {
    margin-bottom: 10px;
}

.marginbottom15 {
    margin-bottom: 15px;
}

.marginbottom20 {
    margin-bottom: 20px;
}

.marginbottom40 {
    margin-bottom: 40px;
}

.messagetop {
    background-color: #2b2b2b;
    color: #ffffff;
    border-top: 2px #ffffff solid;
    border-left: 2px #ffffff solid;
    border-right: 2px #ffffff solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}

.messagebot {
    background-color: #2b2b2b;
    color: #ffffff;
    border-bottom: 2px #ffffff solid;
    border-left: 2px #ffffff solid;
    border-right: 2px #ffffff solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.messagebtn {
    float: right;
}

.messagemain {
    background-color: #fff;
    max-width: 100%;
    min-height: 105px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 2px #ffffff solid;
}

.messageimg {
    padding-bottom: 10px;
    padding-top: 10px;
    max-width: 100%;
    min-height: 100%;
    background-color: #ffffff;
    border-left: 2px #ffffff solid;
}


.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #337ab7;
    border-color: #337ab7;
}

.navborderbot {
    border-bottom: 2px solid #fff !important;
}

.navbar-trans {
    background-color: #2b2b2b;
    border-width: 0;
    color: #cdcdcd;
}

.navbar-trans .navbar-brand,
.navbar-trans >.container-fluid .navbar-brand {
    color: #5491bd;
    padding: 14px;
}

.navbar-trans li > a:focus,
.navbar-trans li.active {
    background-color: #5491bd;
    color: #333;
}

.navbar-trans li > a:hover {
    background-color: #5491bd;
    color: #fff;
    opacity: 0.5;
}

.navbar-trans a {
    color: #fff;
    letter-spacing: 1px;
}

.navbar-trans .form-control:focus {
    border-color: #eee;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 100, 100, 0.6);
    outline: 0;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #ffffff;
    background-color: #2b2b2b;
    white-space: nowrap;
}

.paddingoverlay {
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

.profil {
    font-size: 30px;
}

.scroll-down {
    bottom: 40px;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -15px;
    padding: 7px;
    position: absolute;
    text-align: center;
    width: 50px;
    z-index: -1
}

.scroll-up {
    bottom: 1.75em;
    display: none;
    position: fixed;
    right: 2em;
    z-index: 999;
}

.authnav {
    font-size: 15px;
}

.scroll-up a {
    background-color: #878787;
    color: #fff;
    display: block;
    font-size: 15px;
    height: 35px;
    line-height: 30px;
    opacity: 0.5;
    text-align: center;
    width: 35px;
}

.studoverflow {
    color: #000;
    font-family: 'Audiowide', cursive;
}

.paddingright5 {
    padding-right: 5px;
}

.editsize {
    font-size: 20px;

}

.questiontop {
    background-color: #2b2b2b;
    color: #ffffff;
    border-top: 2px #ffffff solid;
    border-left: 2px #ffffff solid;
    border-right: 2px #ffffff solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 50px;
}

.questionbot {
    background-color: #2b2b2b;
    color: #ffffff;
    border-bottom: 2px #ffffff solid;
    border-left: 2px #ffffff solid;
    border-right: 2px #ffffff solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bold {
    font-weight: bold;
}

.questionblue {
    background-color: #337ab7;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    border-bottom: 1px #111111 solid;
}

.questionblue a {
    color: #ffffff !important;
}
.questionblue a:hover {
    color: #111111 !important;
}

.questionwhite {
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #111111;
    border-bottom: 1px #111111 solid;
}

.questionheader {
    background-color: #2b2b2b;
    color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px #ffffff solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.questionheaderfont {
    color: #ffffff;
    font-family: 'Audiowide', cursive;
}