@import url(https://fonts.googleapis.com/css?family=Poppins);
html,
body {
    background-size: cover;
    color: #444;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    font-size: 14px;
    overflow: auto;
}


/*********************************
 *                               *
 * Media Query Area              *
 *                               *
 *********************************/

 @media (max-width:885px) {
    .scalefooter {
        font-size: 8px;
    }
}
 @media (max-width:600px) {
    .studoverflowhead {
        font-size: 9vw !important;
    }
}

/*********************************
 *                               *
 * ELEMENT Area                  *
 *                               *
 *********************************/

a {
    color: #737373;
}

a:visited {
    color: #737373;
}

a:hover {
    text-decoration: none;
    color: #337ab7 !important;
}

a.btn-black:visited {
    color: #fff;
}

button.btn-black:hover{
    color: #5491bd;
    border-color: #5491bd;
}



h3 {
    font-size: 3vw;
}

img {
    height: auto;
    max-width: 100%;
}

section {
    padding-bottom: 50px;
    padding-top: 40px;
    min-height: 100%;
    min-height: calc(100% - 10);
    text-decoration: none;
    transform-style: preserve-3d;
    width:100%;
}



footer {
    background-color: #2b2b2b;
    border-top: 2px solid #fff !important;
    font-size: 1vw;
    color: #fff;
    height: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
}

footer a:link,
footer a:hover,
footer a:active,
footer a:visited {
    color: #fff;
}


/*********************************
 *                               *
 * ID Area                       *
 *                               *
 *********************************/

#footerfont {
    font-size: 65%;
    text-align: center;
    text-decoration: none;
}

#footerfont a:hover {
    text-decoration: none;
}


/*
 * Welcome Page
 */

#welcome {
    background: rgba(84, 145, 189, 0.8);
    color: #111111;
}

#welcome a:link,
#welcome a:visited,
#welcome a:active {
    color: #ffffff;
}

#welcome a:hover {
    color: #337ab7;
}


/*
 * New Questions
 */

#new {
    background: rgba(84, 145, 189, 0.8);
    color: #111111;
}

#new a:link,
#new a:visited,
#new a:active {
    color: #000;
}

#new a:hover {
    color: #337ab7;
}


/*
 * Popular Questions
 */

#popular {
    background: rgba(84, 145, 189, 0.8);
    color: #ffffff;
}

#popular a:link,
#popular a:visited,
#popular a:active {
    color: #ffffff;
}

#popular a:hover {
    color: #000;
}


/*
 * Unanswered Questions
 */

#unanswered {
    background: rgba(84, 145, 189, 0.8);
    color: #111111;
}

#unanswered a:link,
#unanswered a:visited,
#unanswered a:active {
    color: #000;
}

#unanswered a:hover {
    color: #337ab7;
}


/*
 * Question Overview
 */

#overview {
    background: rgba(84, 145, 189, 0.8);
    color: #fff;
}

#overview a:link,
#overview a:visited,
#overview a:active {
    color: #fff;
}

#overview a:hover {
    color: #111;
}


/*
 * Profile
 */

#profile {
    background: rgba(255, 255, 255, 0.8);
    color: #111111;
}

#profile a:link,
#profile a:visited,
#profile a:active {
    color: red;
}

#profile a:hover {
    color: #337ab7;
}

/*
 * Edit
 */

#edit {
    background: rgba(255, 255, 255, 0.8);
    color: #111111;
}

#edit a:link,
#edit a:visited,
#edit a:active {
    color: red;
}

#edit a:hover {
    color: #337ab7;
}


/*
 * Login
 */

#login {
    background: rgba(84, 145, 189, 0.8);
}

#loginheader {
    background: #2b2b2b;
    color: #ffffff;
}

#login a:link,
#login a:visited,
#login a:active {
    color: #111;
}

#login a:hover {
    color: #337ab7;
}


/*
 * Registration
 */

#registration {
    background: rgba(84, 145, 189, 0.8);
}

#registrationheader {
    background: #2b2b2b;
    color: #ffffff;
}

#registration a:link,
#registration a:visited,
#registration a:active {
    color: #111;
}

#registration a:hover {
    color: #337ab7;
}


/*
 * Passwort Reset
 */

#reset {
    background: rgba(84, 145, 189, 0.8);
}

#resetheader {
    background: #2b2b2b;
    color: #ffffff;
}

#reset a:link,
#reset a:visited,
#reset a:active {
    color: #111;
}

#reset a:hover {
    color: #337ab7;
}


/*
 * Email Reset
 */

#email {
    background: rgba(84, 145, 189, 0.8);
}

#emailresetheader {
    background: #2b2b2b;
    color: #ffffff;
}

#email a:link,
#email a:visited,
#email a:active {
    color: #111;
}

#email a:hover {
    color: #337ab7;
}


/*
 * Imprint
 */

#imprint {
    background: rgba(84, 145, 189, 0.8);
    color: #111111;
}

#imprint a:link,
#imprint a:visited,
#imprint a:active {
    color: #111;
}

#imprint a:hover {
    color: #337ab7;
}


/*
 * Privacy Policy
 */

#privacypolicy {
    background: rgba(84, 145, 189, 0.8);
    color: #111111;
}

#privacypolicy a:link,
#privacypolicy a:visited,
#privacypolicy a:active {
    color: #111;
}

#privacypolicy a:hover {
    color: #337ab7;
}


/*
 * Legal Notice
 */

#legalnotice {
    background: rgba(84, 145, 189, 0.8);
    color: #111111;
}

#legalnotice a:link,
#legalnotice a:visited,
#legalnotice a:active {
    color: #000;
}

#legalnotice a:hover {
    color: #337ab7;
}


/*
 * Question
 */

#question {
    background: rgba(84, 145, 189, 0.8);
    color: #111111;
}

#question a:link,
#question a:visited,
#question a:active {
    color: #ffffff;
}

#question a:hover {
    color: #337ab7;
}


/*
 * Search
 */

#search {
    background: rgba(84, 145, 189, 0.8);
    color: #111111;
}

#search a:link,
#search a:visited,
#search a:active {
    color: #111111;
}

#search a:hover {
    color: #337ab7;
}


/*
 * Ask
 */

#ask {
    background: rgba(84, 145, 189, 0.8);
    color: #111111;
}

#ask a:link,
#ask a:visited,
#ask a:active {
    color: #ffffff;
}

#ask a:hover {
    color: #337ab7;
}


/*
 * Feedback
 */

#feedback {
    background: rgba(84, 145, 189, 0.8);
    color: #111111;
}

#feedback a:link,
#feedback a:visited,
#feedback a:active {
    color: #000;
}

#feedback a:hover {
    color: #337ab7;
}


/*
 * History
 */

#history {
    background: rgba(84, 145, 189, 0.8);
    color: #111111;
}

#history a:link,
#history a:visited,
#history a:active {
    color: #000;
}

#history a:hover {
    color: #337ab7;
}

/*
 * Create Question
 */

#createquestion {
    background: rgba(84, 145, 189, 0.8);
    color: #111111;
}

#createquestion a:link,
#createquestion a:visited,
#createquestion a:active {
    color: #000;
}

#createquestion a:hover {
    color: #337ab7;
}

/*
 * Create Answer
 */

#createanswer {
    background: rgba(84, 145, 189, 0.8);
    color: #111111;
}

#createanswer a:link,
#createanswer a:visited,
#createanswer a:active {
    color: #ffffff;
}

#createanswer a:hover {
    color: #337ab7;
}

/*
 * Delete Answer/Question
 */

#delete {
    background: rgba(84, 145, 189, 0.8);
    color: #111111;
}

#delete a:link,
#delete a:visited,
#delete a:active {
    color: #ffffff;
}

#delete a:hover {
    color: #337ab7;
}

/*
 * Report Answer/Question
 */

#report {
    background: rgba(84, 145, 189, 0.8);
    color: #111111;
}

#report a:link,
#report a:visited,
#report a:active {
    color: #ffffff;
}

#report a:hover {
    color: #337ab7;
}

/*
 * Edit Answer/Question
 */

#editArtikel {
    background: rgba(84, 145, 189, 0.8);
    color: #111111;
}

#editArtikel a:link,
#editArtikel a:visited,
#editArtikel a:active {
    color: #ffffff;
}

#editArtikel a:hover {
    color: #337ab7;
}

/*
 * Error
 */

#error {
    background: #daecee;
    color: #111111;
    text-align: center;
}

#error a:link,
#error a:visited,
#error a:active {
    color: #ffffff;
}

#error a:hover {
    color: #337ab7;
}

/*********************************
 *                               *
 * CLASS Area                    *
 *                               *
 *********************************/

.avatar {
    border-radius: 50%
}

.avatariconmenu {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}

.avatariconxs {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
}

.beforeicon {
    position: relative;
    padding-left: 50px !important;
}

.beforeiconxs {
    position: relative;
    padding-left: 20px !important;
}

.borderBot {
    border-bottom: 1px solid #dddddd;
}

.borderTop {
    border-top: 1px solid #dddddd
}

.borderPadding {
    padding: 10px 0;
}

.btn,
.well,
.panel {
    border-radius: 0;
}

.btn-black -> a:hover {
    color: #fff;
}

.btn-black {
    background-color: #111;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
}

.btn-huge {
    font-size: 22px;
    padding: 17px 22px;
}

.btn-primary {
    background-color: #5491bd !important;
}

.buttonLeft {
    float: left;
}

.buttonRight {
    float: right;
}

.buttonLeft:hover, .buttonRight:hover {
    color: #337ab7;
    border-color: #337ab7;
}

.displaynone {
    display: none;
}

.errorText {
    color: red;
    font-size: 10px;
    float: right;
}

.feedbackmassage {
    padding-bottom:100px;
}

.fieldred {
    background-color: lightcoral;
}

.fieldgreen {
    background-color: lightgreen;
}



.icon-bar {
    background-color: #fff;
}

.messagetop {
    background-color: #2b2b2b;
    color: #ffffff;
    border-top: 2px #ffffff solid;
    border-left: 2px #ffffff solid;
    border-right: 2px #ffffff solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px 0 15px 15px;
    margin-top: 20px;
}

.messagebot {
    background-color: #2b2b2b;
    color: #ffffff;
    border-bottom: 2px #ffffff solid;
    border-left: 2px #ffffff solid;
    border-right: 2px #ffffff solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 0;
}


.messagemain {
    background-color: #fff;
    max-width: 100%;
    min-height: 105px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 2px #ffffff solid;
}

.messageimg {
    padding-bottom: 10px;
    padding-top: 10px;
    max-width: 100%;
    min-height: 100%;
    background-color: #ffffff;
    border-left: 2px #ffffff solid;
}

ul.nav.navbar-nav.navbar-left li a:hover {
    color: #ffffff !important;
}

ul.nav.navbar-nav.navbar-right li a:hover {
    color: #ffffff !important;
}

}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: #337ab7;
    border-color: #337ab7;
}

.navborderbot {
    border-bottom: 2px solid #fff !important;
}

.navbar-trans {
    background-color: #2b2b2b;
    border-width: 0;
    color: #cdcdcd;
}

.navbar-trans .navbar-brand,
.navbar-trans >.container-fluid .navbar-brand {
    color: #5491bd;
    padding: 14px;
}

.navbar-trans li > a:focus,
.navbar-trans li.active {
    background-color: #5491bd;
    color: #333;
}

.navbar-trans li > a:hover {
    background-color: #5491bd;
    color: #fff;
    opacity: 0.5;
}

.navbar-trans a {
    color: #fff;
    letter-spacing: 1px;
}

.navbar-trans .form-control:focus {
    border-color: #eee;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 100, 100, 0.6);
    outline: 0;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #ffffff;
    background-color: #2b2b2b;
    white-space: nowrap;
}

.paddingoverlay {
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

.paddingleft20 {
    padding-left: 20px;
}

div.profil > div.row {
    border-bottom: 1px solid #dddddd;
}

.scroll-down {
    bottom: 40px;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -15px;
    padding: 7px;
    position: absolute;
    text-align: center;
    width: 50px;
    z-index: -1
}

.scroll-up {
    bottom: 1.75em;
    display: none;
    position: fixed;
    right: 2em;
    z-index: 999;
}

.authnav {
    font-size: 14px;
}

.scroll-up a {
    background-color: #878787;
    color: #fff;
    display: block;
    font-size: 15px;
    height: 35px;
    line-height: 30px;
    opacity: 0.5;
    text-align: center;
    width: 35px;
}

.thumpsUpPic {
    height: 100px;
}

.editsize {
    font-size: 20px;
}

.fa-paragraph:before {
    font-weight: bold;
    content: '§';
}

.question {
    background-color: #fff;
    border-bottom: 1px #111111 solid;
    color: #000;
    padding-top: 15px;
    padding-bottom: 15px;
}

.questiontop {
    background-color: #2b2b2b;
    color: #ffffff;
    border-top: 2px #ffffff solid;
    border-left: 2px #ffffff solid;
    border-right: 2px #ffffff solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px 0 15px 15px;
    margin-top: 30px;
}

.questionbot {
    background-color: #2b2b2b;
    color: #ffffff;
    border-bottom: 2px #ffffff solid;
    border-left: 2px #ffffff solid;
    border-right: 2px #ffffff solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 0;
}

.bold {
    font-weight: bold;
}

.historyrow {
    background-color: #ffffff;
    border-left: 2px #ffffff solid;
    border-right: 2px #ffffff solid;
    border-top: 2px #111111 solid;
    border-bottom: 1px #111111 solid;
}

.questionwhite {
    background-color: lightgrey;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #111111;
    border-top:1px #111111 solid;
    border-left: 2px #ffffff solid;
    border-right: 2px #ffffff solid;

}

.questionheader {
    background-color: #2b2b2b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px #ffffff solid;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.statsbox {
    background-color: #ffffff;
    border: 1px #111111 solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.searchButton{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color:#111; 
    color: #fff
}

.searchButton:hover {
    color: #5491bd;
    border-color: #5491bd;
    background-color: #111;
}
/*********************************
 *                               *
 * Paddings & Margins            *
 *                               *
 *********************************/

/* Padding TOP */

.paddingtop5 {
    padding-top: 5px;
}

.paddingtop10 {
    padding-top: 10px;
}

.paddingtop15 {
    padding-top: 15px;
}

.paddingtop20 {
    padding-top: 20px;
}


/* Padding RIGHT */

.paddingright5 {
    padding-right: 5px;
}

.paddingright10 {
    padding-right: 10px;
}

.paddingright15 {
    padding-right: 15px;
}

.paddingright20 {
    padding-right: 20px;
}


/* Margin TOP */

.margintop5 {
    margin-top: 5px;
}

.margintop10 {
    margin-top: 10px;
}

.margintop15 {
    margin-top: 15px;
}

.margintop20 {
    margin-top: 20px;
}

.margintop40 {
    margin-top: 40px;
}

.margintop80 {
    margin-top: 80px;
}

.margquestion {
    margin-bottom: 50px;
}


/* Margin RIGHT*/

.marginright5 {
    margin-right: 5px;
}

.marginright10 {
    margin-right: 10px;
}

.marginright15 {
    margin-right: 15px;
}

. .marginright20 {
    margin-right: 20px;
}

/* Margin LEFT*/

.marginleft5 {
    margin-left: 5px;
}

.marginleft10 {
    margin-left: 10px;
}

.marginleft15 {
    margin-left: 15px;
}

. .marginleft20 {
    margin-left: 20px;
}


/* Margin BOT */

.marginbottom5 {
    margin-bottom: 5px;
}

.marginbottom10 {
    margin-bottom: 10px;
}

.marginbottom15 {
    margin-bottom: 15px;
}

.marginbottom20 {
    margin-bottom: 20px;
}

.marginbottom40 {
    margin-bottom: 40px;
}

.marginbottom80 {
    margin-bottom: 80px;
}

/* NEUES Sonstige Buttons */

.btn btn-black {
    color: #ffffff;
    background-color: #111111;
}

.backbtn {
    text-align: left;
}

.reportsuccess {
    display: none;
    text-align: center;
    color: #111111;
    background-color: #ffffff;
    border: 1px green solid;
    border-radius: 20px;
}

.studoverflowhead {
    margin-top: 50px;
    font-size: 6vw;
    text-shadow: 2px 2px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}

.topics {
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}

.welcomeinfo {
    background: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    padding-bottom: 20px; 
    padding-left: 20px; 
    padding-right: 20px; 
    border-radius: 20px;
}

.notvalid {
    display: none; 
    color:red; 
    background-color: #ffffff;
    border: 1px red solid;
}

.whiteboxdiv {
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 20px;
}